---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="Lucid Forms | Effortless Form Submissions for Teams">
  <div class="text-center flex justify-center flex-col mt-40">
    <h1
      class="text-center text-6xl font-bold leading-tight text-primary md:text-7xl lg:leading-tight"
    >
      Production Ready
      <br />
      SaaS Stack for Convex
    </h1>
    <p
      class="text-center text-lg !leading-normal text-muted-foreground md:text-xl"
    >
      Launch in hours with a modern{" "}
      <span class="font-medium text-primary"> Production-Ready Stack </span>
      <br class="hidden lg:inline-block" /> Stripe integration. TanStack-powered.
      Open Source.
    </p>
  </div>
</MainLayout>
